<div class="card shadow-sm border-0">
    <form method="POST" >
        {% csrf_token %}

        <div class="card-body">
            <label  for="name">Nom :</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Entrer le nom">
        </div>

        <div class="card-body">
            <label  for="price">Montant :</label>
            <input type="text" class="form-control" id="price" name="price" placeholder="Entrer le montant">
        </div>

        <div class="card-body">
            <label  for="description">Description :</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Entrer une description">
        </div>
        <div class="card-body">
            <label for="owner-list">Personne :</label>

            <!-- Remplacement de l'input par un élément <select> -->
            <select class="form-control form-select" id="owner-list" name="owner" required>
                <!-- Option par défaut (vide et désactivée) pour forcer le choix -->


                {% for u in users %}
                    <!-- La valeur envoyée à Django sera u.username -->
                    <option value="{{ u.username }}">{{ u.username }}</option>
                {% endfor %}
            </select>
        </div>



    </form>
</div>